<div class="container">
  <p>{{photo.team.name}}</p>
  <p>{{photo.challenge.description}}</p>
  <img src="{{photo.blobPath}}" style="width:100%" />
  <select #rating>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  Rotation:
  <select #rotation>
    <option value="0">0</option>
    <option value="90">90</option>
    <option value="180">180</option>
    <option value="270">270</option>
  </select>
  <button (click)="rate(rating.value, rotation.value, photo.id)">Rate</button>
</div>
