<!-- <div class="container">
  <div *ngFor="let photo of photos">
    <img src="{{photo.blobPath}}" style="width:100%" />
    <div>
      <p>Rating: {{photo.rating}}/5</p>
      <p>Hold: {{photo.team.name}}</p>

      <p>Billede: {{photo.challenge.description}}</p>

    </div>
  </div>
</div> -->
<div class="container">
  <ngb-carousel>
    <ng-template *ngFor="let photo of photos" ngbSlide>
      <img class="text-center blahblah" [style.transform]="'rotate(' + photo.rotation + 'deg)'" src="{{photo.blobPath}}" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Hold: {{photo.team.name}}</h3>
        <p>Rating: {{photo.rating}}/5. {{photo.challenge.description}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
